# Analyse Geschäfte

In [15]:
from pathlib import Path
import pandas as pd

In [18]:
df_raw = pd.read_csv(Path('../export/geschaefte.csv'))

In [19]:
df_raw[df_raw.geschlecht.isna()]

Empty DataFrame
Columns: [KRNr, VorlageNr, Geschaeftsart, BehandelndeKommission, BehandelndeKommissionKurzname, Direktion, DirektionKurzname, Start, End, Zusammenfassung, status, erstunterzeichnerVorname, erstunterzeichnerName, erstunterzeichnerIstKantonsrat, erstunterzeichnerPartei, geschlecht, jahrgang]
Index: []

In [20]:
df_raw[df_raw.KRNr == '38/2021']

Empty DataFrame
Columns: [KRNr, VorlageNr, Geschaeftsart, BehandelndeKommission, BehandelndeKommissionKurzname, Direktion, DirektionKurzname, Start, End, Zusammenfassung, status, erstunterzeichnerVorname, erstunterzeichnerName, erstunterzeichnerIstKantonsrat, erstunterzeichnerPartei, geschlecht, jahrgang]
Index: []

In [17]:
df_raw.head()

,KRNr,VorlageNr,Geschaeftsart,BehandelndeKommission,BehandelndeKommissionKurzname,Direktion,DirektionKurzname,Start,End,Zusammenfassung,status,erstunterzeichnerVorname,erstunterzeichnerName,erstunterzeichnerIstKantonsrat,erstunterzeichnerPartei,geschlecht,jahrgang
0,98/2001,NaN,Postulat,NaN,NaN,Baudirektion,BD,2001-01-01T00:00:00.000,2001-01-02T00:00:00.000,NaN,Erledigt,Ueli,Keller,True,SP,m,1954.0
1,312/2002,NaN,Anfrage,NaN,NaN,NaN,NaN,2002-01-01T00:00:00.000,2002-01-02T00:00:00.000,NaN,Erledigt,Ueli,Keller,True,SP,m,1954.0
2,115/2002,NaN,Interpellation,NaN,NaN,NaN,NaN,2002-01-01T00:00:00.000,2002-01-02T00:00:00.000,NaN,Erledigt,Ueli,Keller,True,SP,m,1954.0
3,356/2002,NaN,Anfrage,NaN,NaN,NaN,NaN,2002-01-01T00:00:00.000,2002-01-02T00:00:00.000,NaN,Erledigt,Ueli,Keller,True,SP,m,1954.0
4,276/2003,NaN,Anfrage,NaN,NaN,NaN,NaN,2003-01-01T00:00:00.000,2003-01-02T00:00:00.000,NaN,Erledigt,Ueli,Keller,True,SP,m,1954.0

In [6]:
df_raw.Geschaeftsart.unique()

array(['Postulat', 'Anfrage', 'Dringliches Postulat', 'Interpellation',
       'Parlamentarische Initiative', 'Motion', 'Dringliche Anfrage',
       'Dringliche Interpellation', 'Einzelinitiative'], dtype=object)

In [14]:
df_raw[df_raw.KRNr == '383/2021']

Empty DataFrame
Columns: [KRNr, VorlageNr, Geschaeftsart, BehandelndeKommission, BehandelndeKommissionKurzname, Direktion, DirektionKurzname, Start, End, Zusammenfassung, status, erstunterzeichnerVorname, erstunterzeichnerName, erstunterzeichnerIstKantonsrat, erstunterzeichnerPartei, geschlecht, jahrgang]
Index: []

In [12]:
df_raw.tail()

,KRNr,VorlageNr,Geschaeftsart,BehandelndeKommission,BehandelndeKommissionKurzname,Direktion,DirektionKurzname,Start,End,Zusammenfassung,status,erstunterzeichnerVorname,erstunterzeichnerName,erstunterzeichnerIstKantonsrat,erstunterzeichnerPartei,geschlecht,jahrgang
6575,384/2021,NaN,Postulat,NaN,NaN,NaN,NaN,2021-11-08T00:00:00.000,2021-11-09T00:00:00.000,NaN,Regierungsrat,Florian,Heer,True,Grüne,m,1978.0
6576,127/2021,NaN,Postulat,NaN,NaN,Bildungsdirektion,BI,2021-04-19T00:00:00.000,2021-04-20T00:00:00.000,NaN,Erledigt,Markus,Bärtschiger,True,SP,m,1962.0
6577,187/2021,NaN,Parlamentarische Initiative,NaN,NaN,NaN,NaN,2021-05-17T00:00:00.000,2021-05-18T00:00:00.000,NaN,Erledigt,Christoph,Marty,True,SVP,m,1970.0
6578,229/2021,NaN,Anfrage,NaN,NaN,Volkswirtschaftsdirektion,VD,2021-06-07T00:00:00.000,2021-06-08T00:00:00.000,NaN,Erledigt,Yiea Wey,Te,True,FDP,m,1983.0
6579,241/2021,NaN,Anfrage,NaN,NaN,Volkswirtschaftsdirektion,VD,2021-06-14T00:00:00.000,2021-06-15T00:00:00.000,NaN,Erledigt,Doris,Meier,True,FDP,w,1967.0